<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Реєстр</title>
    <link href="~/Static/Styles/bootstrap.css" rel="stylesheet" type="text/css" id="bootstrap-css" />
    <link href="~/Static/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Static/Styles/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="~/Static/Styles/daterangepicker.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Static/Scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="~/Static/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Static/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Static/Scripts/daterangepicker.min.js"></script>
    <script type="text/javascript" src="~/Static/Scripts/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/Static/Scripts/site.js"></script>
</head>
 <body>
 
 <nav class="navbar navbar-default navbar-fixed-top"> 
     <div class="container-fluid">
         <div class="navbar-header">
             <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".js-navbar"> 
                 <span class="sr-only">Toggle navigation</span> 
                 <span class="icon-bar"></span> 
                 <span class="icon-bar"></span> 
                 <span class="icon-bar"></span> 
             </button> 
             @Html.ActionLink("Реєстр міністерства", "Index", "Home", 
                 new { @style= "padding:15px 15px;"}, new {@class = "navbar-brand" }) 
         </div>
      
         <div class="collapse navbar-collapse js-navbar">
             <ul class="nav navbar-nav"> 
                 <li>@Html.ActionLink("Ресурси", "Index", "Catalog")</li> 
                 @if (User.Identity.IsAuthenticated && User.IsInRole("User")) 
                 { 
                     <li class="dropdown"> 
                         <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                             Профіль користувача 
 
                         </a> 
                     </li> 
                 } 
 
                 @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
                 { 
                     <li>@Html.ActionLink("Управління користувачами", "Index", "User")</li> 
                 } 
 
 
                 @if (!User.Identity.IsAuthenticated) 
                 { 
                     <li class="dropdown"> 
                         @Html.ActionLink("Логін/Реєстрація", "Login", "Account", 
                             new {@style = "padding:15px 15px;"}, new {@class = "dropdown-toggle"}) 
                     </li> 
                 } 
 
                 @if (User.Identity.IsAuthenticated) 
                 { 
                     <li class="dropdown"> 
                         @Html.ActionLink("Вийти", "LogOff", "Account") 
 
                     </li> 
                 } 
             </ul>
             <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                 <div class="container">
                     <div class="row">
                         <div class="col-md-12">
                             <div class="input-group" id="adv-search">
                                 @* <form action="/Search/SearchQuery" method="post"> *@
                                 @using (Html.BeginForm("SearchQuery", "Search", FormMethod.Post))
                                 {
                                     <input placeholder="Пошук" type="text" class="form-control" id="query" name="Query.Query" value="" style="margin-top: 10px">
                                 }
                                 @* </form> *@
                                 <div class="input-group-btn">
                                     <div class="btn-group" role="group">
                                         <div class="dropdown dropdown-lg">
                                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                 <span class="caret"></span>
                                             </button>
                                             <div class="dropdown-menu dropdown-menu-right" role="menu">

                                                 <form action="/Search/SearchFilters" method="post" class="form-horizontal" role="form">
                                                     <label class="filter">Впорядкування</label>
                                                     <div class="form-group">
                                                         <label for="filter">Впорядкувати за</label>
                                                         <select class="form-control" name="OrderBy">
                                                             <option value="Priority" selected>Пріоритетом</option>
                                                             <option value="CreationTimestamp">Датою створення</option>
                                                             <option value="Format">форматом</option>
                                                         </select>
                                                     </div>
                                                     <label for="filter">Фільтрування</label>
                                                     <div class="form-group">
                                                         <input class="form-control" name="Query" type="text" placeholder="Введіть або назву або опис або імя файла" value="@ViewData["query"]"/>
                                                     </div>
                                                     <div class="form-group">
                                                         <input type="text" class="form-control daterange" name="CreationDateRange" placeholder = "Дата створення" value="@ViewData["creationDateRange"]"/>
                                                     </div>
                                                     <div class="form-group">
                                                         <input type="text" class="form-control daterange" name="ApprovalDateRange" placeholder="Дата затвердження" value="@ViewData["approvalDateRange"]"/>
                                                     </div>
                                                     <div class="form-group">
                                                         <input class="form-control" name="Author" type="text" placeholder="Автор" value="@ViewData["author"]"/>
                                                     </div>
                                                     <div class="form-group">
                                                         <input class="form-control" name="Tags" type="text" placeholder="ключові слова" value="@ViewData["tags"]"/>
                                                     </div>
                                                     <button type="submit" class="btn btn-primary">
                                                         <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                     </button>
                                                 </form>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </nav>
 <div class="container body-content"> 
     @RenderBody() 
     <hr /> 
     <footer class="navbar-fixed-bottom"> 
         <p>&copy; @DateTime.Now.Year - Реєстр кафедри</p> 
     </footer> 
 </div>
 @RenderSection("Scripts", required:false)
 </body> 
 </html> 
